body {
    min-height: 100%;
    background: linear-gradient(178.98deg, #d4bc99 2.34%, rgba(255, 250, 250, 0) 125.4%), #FFFFFF; }
  
  h1 {
    text-transform: uppercase;
    background: black;
    color: white;
    margin: 0;
    padding: 10px 28px;
    font-weight: normal;
    font-family: "MV BOLI"; }
  
  input {
    font-family: "MV BOLI";
    background: white;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    font-size: 20px;
    font-weight: 0.5px;
    padding-left: 25px;
    border: 3px solid black;
    color: black; }
  
  input:focus {
    background: #edf1f5;
    border: 3px solid  #5c2824;
    outline: none;
    color: black; }
  
  span {
    margin-right: 10px;
    text-align: center;
    height: 50px;
    width: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s linear; }
  
  i {
    cursor: pointer; }
  
  button {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "MV BOLI";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer; }
  
  button:hover {
    background-color: white;
    color: black;
    border: 2px solid #555; }
  
  #buttons {
    display: inline-block;
    text-align: center;
    margin-left: 33%;
    position: absolute;
    bottom: 5px; }
  
  #todo {
    margin: 0 auto;
    box-shadow: 0 0 1em black;
    max-width: 600px;
    height: 100%;
    background: white;
    position: relative; }
  
  #overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s; }
  
  #overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 60px;
    color: #000000;
    cursor: pointer; }
  
  #overlay li {
    padding: 8px;
    list-style-type: circle;
    font-size: 30px;
    color: #ebe3e3;
    display: block; }
  
  .todos {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  
  .todos li {
    background: rgba(218, 197, 197, 0.72);
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-family: "MV BOLI"; }
  
  .todos li:nth-child(2n) {
    background: rgba(186, 161, 161, 0.72); }
  
  .todos li:hover span {
    width: 50px;
    opacity: 1.0;
    margin-left: 5px; }
  
  .display {
    display: none;
    transition: 0.3s linear; }
  
  .checked {
    color: gray;
    text-decoration: line-through; }
  
  .fa-pencil-alt {
    float: right;
    padding-top: 8px; }
  
  .fa-trash-alt {
    color: #492b2f; }
  
  .tips {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 25px; }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px; }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px; }
    #todo {
      width: 100%;
      height: 100%; } 
    }

  #overlay2 {
    height: 0;
    width: 20%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s; }
  
  #overlay2 .close2btn {
    position: absolute;
    right: 10px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer; }
  #overlay2 p {
      margin-left: 15px;
      list-style-type: circle;
      font-size: 17px;
      color: #ebe3e3;
      display: block;
      font-family: "MV BOLI";
  }



  .container {
    width: 600px;
    height: 555px;
    float: left;
    background: #fff;
  }
  .viewport-wrapper {
    height: 555px;
    position: relative;
    overflow: auto;
    border: solid 1px #dedede;
    border-width: 1px 0;
  }
  .viewport {
    width: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0px;
  }
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 

#calendar {
  background: white;
  width: 90%;
  font: monospace;
  line-height: 1.7em;
  font-size: 18px;
  text-align: center;
  border: solid 1px #362828;
}
#calendar thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar tbody td {
  color: rgb(44, 86, 122);
}
#calendar tbody td:nth-child(n+6), #calendar .holiday {
  color: rgb(231, 140, 92);
}
#calendar tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
}
#div_calendar{
  visibility:hidden;
  display: inline-block;
  margin-left: 4%;
  width:300px; 
 
  position: fixed; 
  top:200px;
}
#div_calendar .close3btn {

  position: absolute;
    right: 10px;
    font-size: 22px;
    color: #000000;
    cursor: pointer;
}